* {
    margin: 0;
    font-family: "News Cycle";
}

/*Container*/

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar content content news";
    grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    row-gap: 30px;
}

/*HEADER*/

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    justify-content: space-between;
}

.header h1 {
    margin-left: 30px;
    font-weight: 300;
}

.header .fa-bars {
    display:none;
}

.fa-bell {
    color: #0165E1;
    font-size: 50px;
}

.fa-bell:hover {
    cursor: pointer;
}

.fa-circle-user {
   color: #0165E1;
   font-size: 50px;
   margin-left: 20px;
}

.fa-circle-user:hover{
    cursor: pointer;
}

.right-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    gap: 20px;
}



.notification-number {
    position: relative;
    margin-top: -30px;
    margin-left: -17.5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SIDEBAR*/

.sidebar {
    grid-area: sidebar;
    background-color: #0165E1;

}

.sidebar .fa-bars {
   display: none;
}

.sidebar .fa-xmark {
    display: none;
}

.logo {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.sidebar .logo-name {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin-top: -20px;
}

.home {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    width: fit-content;
    padding: 5px;
}

.fa-house {
    color: white;
    font-size: 30px;
}

.home h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
}

.messages {
    display: flex;
    left: 200px;
    align-items: center;
    margin-left: 30px;
    margin-top: 25px;
    width: fit-content;
    padding: 5px;
}

.fa-message {
    color: white;
    font-size: 30px;    
}

.messages h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
}

.friends {
    display: flex;
    left: 200px;
    align-items: center;
    margin-left: 30px;
    margin-top: 25px;
    width: fit-content;
    padding: 5px;
}

.fa-user-friends {
    color: white;
    font-size: 30px;    
}

.friends h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
}

.post {
    display: flex;
    left: 200px;
    align-items: center;
    margin-left: 30px;
    margin-top: 25px;
    width: fit-content;
    padding: 5px;
}

.fa-plus{
    color: white;
    font-size: 30px;
    border: 3px solid white;
    padding: 5px 5px 5px 5px;
    border-radius: 10px    
}

.post h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
}

.settings {
    display: flex;
    left: 200px;
    align-items: center;
    margin-left: 30px;
    margin-top: 25px;
    width: fit-content;
    padding: 5px;
}

.fa-gear{
    color: white;
    font-size: 30px;
}

.settings h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
}

.home:hover,
.messages:hover,        
.friends:hover,
.post:hover,
.settings:hover {
    cursor: pointer;
    background-color: #378cfa;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

.sidebar .home a {
    text-decoration: none;   
    display: flex;           
    align-items: center;
}

/*Main*/

.content {
    grid-area: content;
    background-color: white;
    margin-left: 350px;
    border-radius: 50px;
    margin-bottom: 30px;
    overflow-y: auto;
}
 

.content h1 {
    text-align: center;
    margin-top: 20px;
    line-height: 1;
    text-decoration: underline #0165E1; 
    text-underline-offset: 10px;
}

.post-box {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    height: 500px;
    width: 500px;
    margin: auto; 
    margin-top: 50px;
    margin-bottom: 20px;   
}

.post-header {
    display: flex;

}

.post-header img {
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-header .user-name {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.post-header span {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}
.post-header .post-time {
    margin-left: 7px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.user-post {
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 300px;
    width: 460px;
    border: 1px solid black;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;   
}

.post-image {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.post-caption {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 300;
}

.post-caption span {
    font-weight: 700;
    color: #0165E1
}

.actions {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.actions, .heart, .fa-comment, .fa-share {
    font-size: 25px;
    margin-right: 50px;
    font-weight: 800;
}

.actions span {
    font-weight: 300;
}

.fa-heart:hover {
    transition: color 0.5s ease;
    color: red;
    cursor: pointer;
}

.fa-comment:hover {
    transition: color 0.5s ease;
    color: #0165E1;
    cursor: pointer;
}

.fa-share:hover {
    transition: color 0.5s ease;
    color: #0165E1;
    cursor: pointer;
}

.fa-share:hover + .share-text, 
.fa-comment:hover + .comment-text, 
.fa-heart:hover + .like-text {
    visibility: visible;
    opacity: 1;
}

.like-text,
.comment-text,
.share-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s;
}



/*NEWS*/

.news {
    grid-area: news;
    background-color: white;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    overflow-y: scroll;
}

.news h1 {
    text-align: center;
    margin-top: 20px;
    line-height: 1;
    text-decoration: underline #0165E1; 
    text-underline-offset: 10px;
}

.news-item {
    margin-top: 20px;
    font-size: 30px;
    margin-left: 50px; 
    margin-bottom: 20px;
    border-bottom: 2px solid #E0E0E0;
}
 
/*MEDIA QUERIES*/

@media (max-width: 767px) {
    .container {
        grid-template-areas:
            "header header" 
            "content content";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 2fr;
        overflow-x: hidden;
    }

    .header {
        grid-area: header;
        justify-content: center;
        padding: 10px;
        width: 100%;

    }
    .header .fa-bars {
        display: block;
        color: black;
        font-size: 20px;
    }
    .header h1 {
        margin-left: 30px;
        font-size: 20px;
        text-align: center;
    }
    
    .fa-bell { 
        font-size: 30px;
    }

    .fa-circle-user {
        font-size: 30px;
    }
    
    .sidebar { 
        display: none;
        position: fixed;
        height: 100%;
    }
    .sidebar .fa-xmark{
        display: block;
        position: absolute;
        color: white; 
        font-size: 30px;
        margin-left: 150px;
        margin-top: 25px;
    } 
 
    .content {
       margin-left: 0px;
       border: none;
       box-shadow: none;
       overflow-x: hidden;
    }
    .content h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    .post-box {
        width: 90%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: none;
    }

    .post-header img {
        width: 40px;
        height: 40px;
    }

    .post-header .user-name {
        font-size: 18px;
    }

    .post-header span {
        font-size: 18px;
    }       

    .post-header .post-time {
        font-size: 18px;
    }

    .user-post {
        width: 90%;
        height: 300px;
    }

    .post-image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .post-caption {
        margin-left: 10px;
        margin-top: 10px;
        font-weight: 300;
    }

    .post-caption span {
        font-weight: 700;
        color: #0165E1;
    }

    .actions {
        margin-top: 10px;
    }

    .actions, .heart, .fa-comment, .fa-share {
        font-size: 25px;
        margin-right: 24px;
        font-weight: 800;
    }

    .actions span {
        font-weight: 300;
    }

    .fa-heart:hover, .fa-comment:hover, .fa-share:hover {
        transition: none;
    }

    .fa-heart:hover + .like-text,
    .fa-comment:hover + .comment-text,  
    .fa-retweet:hover + .retweet-text,
    .fa-share:hover + .share-text {
        visibility: hidden;
        opacity: 0;
    }

    .news {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .header .fa-bars {
        font-size: 30px;
        margin-left: -450px;
     }

    .header h1 {
        font-size: 34px;
    }
    
    .fa-circle-user {
        font-size: 40px;
    }
    
     .fa-bell {
        position: absolute;
        margin-left: 500px;
        font-size: 40px;
     }

     .news {
        display: none;
     }

     .content {
        width: 150%;
        margin-left: 50px;
        border: none;
        box-shadow: none;
     }

     .content h1 {
        font-size: 40px;
     }

     .post-box {
        width: 90%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: none;
     }

    .post-header img {
        width: 50px;
        height: 50px;
     }

    .post-header .user-name {
        font-size: 24px;
     }

    .post-header span {
        font-size: 24px;
     }

     .post-caption {
        font-size: 25px;
     }

    .post-header .post-time {
        font-size: 24px;
     }

    .user-post {
        width: 80%;
        height: 300px;
     }

     .post-image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
     }

    .actions, .heart, .fa-comment, .fa-share {
        font-size: 30px;
        margin-right: 20px;
        font-weight: 800;
    }
}

@media (max-width: 1024px) and (max-height: 650px) {
    .fa-bell {
        margin-left: 750px;
    }
}

@media (min-width: 1280px) and (max-height: 800px) {
    .fa-bell {
        margin-left: 800px;
    }
    .content {
        width: 100%;
        margin-left: 100px;
        border: none;
        box-shadow: none;
    } 
}  

@media (min-height: 1366px) {
    .fa-bell {
        margin-left: 750px;
    }
}    

@media(min-height: 1368px) {
    .fa-bell {
        margin-left: 650px;
    }
}

@media (width: 768px) and (height: 864px) {
  .news {
    display: none;
  }

  .fa-bell {
    margin-left: 10px;
  }
}
